@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'poppins', serif;
  scroll-behavior: smooth;
}

button {
  background-color: #06B6D4;
}

option {
  font-family: 'poppins', serif;
}